<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style/buefy.min.css" />
    <link rel="stylesheet" type="text/css" href="style/works.css" />
    <link rel="stylesheet" type="text/css" href="style/main.css" />
    <title>code / design / music</title>
  </head>
  <body>
    <div class="container-ctrl scroll-wrapper">
      <!-- header -->
      <section id="header-render" class="column is-full title-detail-level">
        <div class="with-padding work-title-left">
          <div>
            <div class="link-default title detail-level">
              <a class="link-default" href="/index.html"> <span>..</span> </a
              >/patithin
            </div>
            <div class="subtitle is-6 padding-top">
              <p>calendrical sequencer</p>
              <p>based-on Github's contribution calendar.</p>
            </div>
            <div class="subtitle is-6">
              <p>2020</p>
            </div>
            <div class="subtitle is-6">
              <p>coding</p>
            </div>
          </div>
        </div>

        <div class="back-to-top helper">
          <a href="/index.html">
            <i class="icon-arr-back">~</i>
          </a>
        </div>
      </section>

      <section class="container is-fullhd detail-section">
        <div id="content-theme" class="detail-wrapper no-margin-tb">
          <!-- <WorkDetailsRender/> -->
          <div class="column is-7">
            <div class="detail-render">
              <img src="media/images/patithin-detail-00.jpg" />
              <p>
                calendrical sequencer based on Github's contribution history.
                where velocity of the note is determined by commit's frequency.
                total 53 weeks, the only way to assign trigger is just commit!.
              </p>

              <iframe
                width="420"
                height="315"
                src="https://www.youtube.com/embed/0MEqRyrv7BA"
              >
              </iframe>

              <h3>features</h3>
              <li>MIDI protocol (out only)</li>
              <li>Internal Synth voice (13 instruments)</li>
              <li>adjustable</li>

              <li>steps length.</li>
              <li>scale / root note.</li>
              <li>pitch.</li>
              <li>midi-channel.</li>
              <li>volumn ( only works for internal synth).</li>
              <li>octave.</li>
              <li>BPM</li>
              <li>track mute.</li>
              <li>step mute.</li>
            </div>
          </div>

          <!-- <WorkLinks/> -->
          <div class="column w-light no-padding link-info">
            <div id="overview-console" class="position-sticky">
              <div class="with-padding">
                <div class="flex-wrapper width-auto work-url">
                  <a
                    target="blank"
                    href="https://github.com/karnpapon/patithin"
                  >
                    <p class="link-default">
                      see this on github : https://github.com/karnpapon/patithin
                    </p>
                  </a>
                </div>

                <div class="flex-wrapper width-auto work-url">
                  <a
                    target="blank"
                    href="https://github.com/karnpapon/patithin"
                  >
                    <p class="link-default">twitter</p>
                  </a>
                </div>
              </div>

              <div class="with-padding">
                <p>React</p>
                <p>Redux</p>
                <p>TypeScript</p>
              </div>

              <div class="inline-grid-wrapper with-padding cate-wrapper">
                <p>Roles:</p>
                <p class="tag-cat">development</p>
                <p class="tag-cat">designer</p>
              </div>
            </div>
          </div>
        </div>
        <!-- scroll-spacing: preserved space. -->
        <div class="column is-full scroll-spacing no-pointer-event"></div>
      </section>

      <!-- suggest work -->
      <section
        id="suggested-work-theme"
        class="column is-full nav-next-work-section scroll-spacing no-padding"
      >
        <div class="column is-half no-padding-top suggested-title">
          <div class="title detail-level padding-top-3rem">Project</div>
        </div>

        <div class="column is-half no-padding control-worklist-detail">
          <div class="work-list-detail with-padding suggested-work">
            <div class="flex-wrapper">
              <div class="next-item-wrapper">
                <p class="title is-3">{{data.name}}</p>
                <div class="subtitle is-6 padding-top desc">
                  <p>{{ data.description1}}</p>
                  <p>{{ data.description2}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="work-list-detail with-padding suggested-work">
            <div class="flex-wrapper">
              <div class="next-item-wrapper">
                <p class="title is-3">{{data.name}}</p>
                <div class="subtitle is-6 padding-top desc">
                  <p>{{ data.description1}}</p>
                  <p>{{ data.description2}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- footer -->
    <footer>
      <div class="column is-full footer-container">
        <div class="footer-wrapper">
          <div class="footer footer-ctl-toggle column is-1 footer-overview">
            <input id="css-toggle-switch" type="checkbox" />
            <label for="css-toggle-switch" class="toggle-switch">index </label>
            <div class="column is-full overview-wrapper toggle">
              <div class="overview-container">
                <div class="columns is-full overview-lists">
                  <!-- each -->
                  <div
                    class="column with-padding"
                    :class="['is-' + list.widthRatio]"
                  >
                    <p class="title is-6 padding-top-small">2020</p>
                    <div
                      v-for="(itemlist , itemindex) of list.works"
                      :key="itemindex"
                      class="list-overview"
                      v-on:click="selectWork(itemlist)"
                    >
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                      <p class="is-6">{{ itemlist.name }}</p>
                    </div>
                  </div>

                  <div
                    class="column with-padding"
                    :class="['is-' + list.widthRatio]"
                  >
                    <p class="title is-6 padding-top-small">2019</p>
                    <div
                      v-for="(itemlist , itemindex) of list.works"
                      :key="itemindex"
                      class="list-overview"
                      v-on:click="selectWork(itemlist)"
                    >
                      <router-link
                        :to="{ path: `/work/${itemlist.year}/${itemlist.slug}`}"
                        active-class="active"
                        exact
                      >
                        <p class="subtitle is-6">{{ itemlist.name }}</p>
                      </router-link>
                    </div>
                  </div>

                  <div
                    class="column with-padding"
                    :class="['is-' + list.widthRatio]"
                  >
                    <p class="title is-6 padding-top-small">2018</p>
                    <div
                      v-for="(itemlist , itemindex) of list.works"
                      :key="itemindex"
                      class="list-overview"
                      v-on:click="selectWork(itemlist)"
                    >
                      <router-link
                        :to="{ path: `/work/${itemlist.year}/${itemlist.slug}`}"
                        active-class="active"
                        exact
                      >
                        <p class="subtitle is-6">{{ itemlist.name }}</p>
                      </router-link>
                    </div>
                  </div>
                  <!-- end each -->
                </div>
              </div>
            </div>
          </div>

          <div class="footer footer-ctl column is-11">
            <div class="level">
              <div
                @click="handleClick(undefined,'about')"
                class="level-left left-col"
              >
                <div class="go-about">
                  <p><strong> Karnpapon </strong></p>
                </div>
                <span class="icon-cc">
                  <img src="../src/icon/cc-logo.svg" alt="github" width="30" />
                </span>
                <p class="w-medium cc-details">BY-NC-SA 4.0</p>
              </div>
              <div class="level-right right-col">
                <span class="icon icon-social">
                  <a target="blank" href="https://twitter.com/snuffvideo1">
                    <img src="../src/icon/twitter-logo.svg" alt="github" />
                  </a>
                </span>

                <span class="icon icon-social">
                  <a target="blank" href="https://twitter.com/snuffvideo1">
                    <img src="../src/icon/github-logo.svg" alt="github" />
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
