:root {
  --main-color: white;
  --secondary-color: #efefef;
  --md-gray-color: #656565;
  --color-black: black;
  --main-padding: 2rem;
  --scroll-space-height: 20rem;
  --home-scroll-space-height: 65vh;
  --mobile-screen: 767px;
}

* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: black; }
a { color: rgb(0, 38, 255); }
hr { margin: 10px 0;}
a:hover,a:hover i { background-color: rgb(0, 38, 255); color:white; }
body { font-family: serif; font-weight: lighter; font-size: 16px; }
body > * { margin-bottom: 30px; }
h1 { font-weight: lighter;font-size: 3rem;color: rgb(0, 38, 255); text-decoration: underline;} 
h2 { font-size: 1.5rem; margin: 1rem 0;}
p,li { margin: 0.25rem 0;}
inc { display: inline; line-height: 1.75rem; margin: 20px 0}
q { font-size: 2rem; font-weight: bolder; font-style: italic; width: 100%; text-align: center; padding: 2rem 0;}
img { width: 100%; margin: 2rem 0;}
iframe { margin: 0;}
ul{ display: flex; flex-direction: column;}
main pre { overflow: auto; background: var(--secondary-color); padding: 10px; font-size: 80%; margin-bottom: 30px;white-space: pre-wrap;}
input:checked ~ .works-list {display: flex; flex: 1; flex-direction: row; padding: var(--main-padding); } 
ul{ margin: 0px 0px 0px 20px; list-style: none; line-height: 1.5em; }
ul li{ font-size: 16px; position: relative; }
ul li:before {  position: absolute; left: -15px; top: 0px; content: ''; display: block; border-left: 1px solid #ddd; height: 1em; border-bottom: 1px solid #ddd; width: 10px;}
ul li:after { position: absolute; left: -15px; bottom: -7px; content: ''; display: block; border-left: 1px solid #ddd; height: 100%; }
ul li.has-child:after{display: none;}
ul li:last-child:after { display: none }
ul li.root { margin: 0px 0px 0px -20px;}
ul li.root:before, ul li.root:after {  display: none;}
table { width:100%; }
table, th, td { border: 1px solid black; border-collapse: collapse; }
th, td { padding: 8px; text-align: left; }
small {color: rgb(179, 179, 179);}
pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}
code { 
  display: flex;
  font-size: 1rem;
  padding: 20px;
  white-space: pre-wrap;
  background-color: rgb(235, 235, 235);
}

codesnippet{ 
  font-family: monospace;
  font-size: 0.75rem;
  background-color: rgb(235, 235, 235);
}

px { margin: 1rem 0; display: flex; flex-direction: column; }
pxy { padding: 2rem; display: flex; }
/* pxy > div a { color: black;} */
fb { font-size: 2.5rem; }
fm { font-size: 1.5rem; }
fdt { font-family: system-ui; font-style: italic; color: var(--md-gray-color); font-size: 0.8rem; font-weight: lighter; } 
tag { margin: 0.25rem 0; padding: 0.5rem; border: 0.5px solid; width: 10rem;}
url { color: rgb(0, 38, 255);text-decoration: underline;}
lc { display: flex; flex: 1}
rc { display: flex; flex: 1}
ic { padding-right: 2rem; }
ic a:hover{  background-color: unset; opacity: 0.5;}

.s0 { position: relative; display: flex;z-index: 1; background: white;}
.s0 > div { padding: var(--main-padding);  }
.s0 > div:nth-child(1) { flex: 3 }
.s0 > div:nth-child(2) { flex: 1; justify-content: flex-end; display: flex; font-size: 3rem; align-items: flex-end; }
.s1 { position: relative; display: flex;z-index: 1;flex-direction: column;}
.s1 > div:nth-child(1), .s1 > div:nth-child(2) { padding: var(--main-padding); z-index: 1; display: flex; background: white;}
.s1 > div > div:nth-child(1) { flex: 2; display: flex; padding-right: var(--main-padding);flex-direction: column;}
.s1 > div > div:nth-child(2) { flex: 1; height: auto;}
.s2 { display: flex; position: fixed; bottom: 0;margin-bottom: 60px;z-index: 0; z-index: 0 !important;width: 100%;height: var(--scroll-space-height); }
.s2 lc { border-top:1px  solid black;}
.s2 rc { border-top:1px  solid black;}
/* .s2 lc { background-color: black;} */
/* .s2 lc > fb { color: white;} */
/* .s2 rc{ background-color: black; color: white;} */
/* .s2 rc  fm, .s2 rc p { color: white;} */
.s2 rc > div:hover, .s2 rc > div:hover fm, .s2 rc > div:hover a , .s2 rc > div:hover p  { background-color: black; color: white;}

.pad2{ padding: var(--main-padding);}
.px2 { padding: 0 var(--main-padding);}
.flex-col { display: flex;flex-direction: column;}
.position-sticky{ position: sticky; top: 1rem;}
.box {padding: var(--main-padding); height: 100%; cursor: pointer;flex-direction: column;justify-content: center;display: flex;}
.box:hover, .box:hover fm,.box:hover p, .box:hover a{ background: black; color: white;}

.scroll-spacing { background: none !important; height: var(--scroll-space-height); margin-bottom: 30px; width: 100%; visibility: hidden; pointer-events: none; display: flex; }
.works-list {display: none;width: 100vw; left: 0; bottom: 0; position: absolute; height: 15rem; margin-bottom: 60px; background-color: white; border-top: 1px solid;} 
.works { flex: 1;}
.works h2{ font-size: 1rem; margin: 0;}
.works > a{ cursor: pointer;}
.works > a:hover p{ color:rgb(0, 38, 255); text-decoration: underline;}
.work-actived {color:rgb(0, 38, 255);text-decoration: underline;}

.footer{width: 100%; height: 60px; position: fixed; bottom: 0; z-index: 5; background: white; }
.footer > div > rc > ic > a > img { width: var(--main-padding); height: var(--main-padding);}
.footer > div > rc > ic > a { justify-content: center; align-items: center; display: flex;margin: 0 0.5rem;}
.footer > div > rc > ic { display: flex;}
.footer > div { display: flex;height: 100%;}
.footer lc{  flex: 1;width: 100%;height: 100%; }
/* .footer lc:hover{ background: black;color:white; } */
.footer rc{ flex: 10;width: 100%;height: 100%;justify-content: space-between;}
.footer lc > div { height: 100%; width: 100%; justify-content: center; align-items: center; display: flex; }
.footer lc > div > label { height: 100%; width: 100%; justify-content: center; align-items: center; display: flex; }
.footer lc > div > input { cursor: pointer;opacity: 0;height: 100%; width: 5rem;position: absolute; }
.footer rc > div { height: 100%; margin-left: var(--main-padding);margin-right: var(--main-padding);align-items: center; display: flex;}


#go-home{ font-size: 2.5rem; color: black;}