:root {
  --main-color: white;
  --secondary-color: #a1a1a1;
  --third-color: #cccccc;
  --color-black: black;
  --hover-color: #c4c4c4;
  --hover-light-color: #e7e7e7;
  --main-colorize-color: #4f00ff;
  --main-margin: 1.5rem;
  --main-padding: 1rem;
  --medium-padding: 0.5rem;
  --small-padding: 0.25rem;
  --font-input-mono: 'input_mono_regular';
  --font-input-mono-bold: 'input_mono_bold';
  --scroll-space-height: 20rem;
  --home-scroll-space-height: 65vh;
  --small-font-size: 0.9rem;
  --mobile-screen: 767px;
}
* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: black; }
body { padding: 30px; font-family: serif; font-weight: lighter; font-size: 16px; }
body > * { margin-bottom: 30px; }
h1 { font-weight: lighter;font-size: 3rem;color: rgb(0, 38, 255); text-decoration: underline;} h2 { font-size: 1rem;}
p { margin: 0}
img { width: 100%;}
footer { margin-bottom: 0 !important;}

px { margin: 1rem 0; display: flex; flex-direction: column; }
fb { font-size: 2.5rem; }
fm { font-size: 1.5rem; }
tag { margin: 0.25rem 0; padding: 0.5rem; }
url { color: rgb(0, 38, 255);font-style: italic;text-decoration: underline;}
lc { display: flex; flex: 1}
rc { display: flex; flex: 1}

.s0 { position: relative; display: flex;z-index: 1; background: white;}
.s0 > div { padding: 20px;  }
.s0 > div:nth-child(1) { flex: 3 }
.s0 > div:nth-child(2) { flex: 1; justify-content: flex-end; display: flex; font-size: 3rem; align-items: flex-end; }
.s1 { position: relative; display: flex;z-index: 1;flex-direction: column;}
.s1 > div { padding: 20px; z-index: 1; display: flex; background: white;}
.s1 > div > div:nth-child(1) { flex: 2; display: flex; padding-right: 2rem;flex-direction: column;}
.s1 > div > div:nth-child(2) { flex: 1; height: auto;}
.s2 { display: flex; position: fixed; bottom: 0;margin-bottom: 60px;z-index: 0; z-index: 0 !important;width: calc(100% - 60px);height: var(--scroll-space-height); background-color: white;}

.flex-col { display: flex;flex-direction: column;}
.position-sticky{ position: sticky; top: 1rem;}
.box { height: 100%; cursor: pointer;flex-direction: column;display: flex;}
.box:hover, .box:hover fm,.box:hover p{ background: black; color: white;}
.footer{width: calc(100% + 30px);left: -30px; height: 60px; position: fixed; bottom: 0; z-index: 5; background: rgb(255, 204, 138); }
.scroll-spacing { 
  background: none !important;
  height: var(--scroll-space-height);
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  display: flex;
}

